.cards-align {
  display: flex;
  margin: 5px 15px;
  margin-left: 30px;
}
.card-size {
  width: 250px;
  height: 380px;
  /* border: 1px solid lightgray; */
  box-shadow: 0 0 15px #cccccc;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-left: 5px;
  padding-top: 10px;
}

.banner-image-size {
  width: 185px;
  height: 160px;
}

.image-size {
  width: 170px;
  height: 150px;
  padding: 5px;
  /* border: 1px solid black; */
}

.btn-color {
  background-color: rgb(15, 15, 92) !important;
  width: "90px" !important;
}
