.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

.header-with-content {
  display: flex;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  background-color: #fbfcfc;
  box-shadow: 0 0 15px #cccccc;
  margin: 10px;
}
